#jednobrisanje  {
    width: 25px;
    height: 20px;
    font-size: 13px;
    padding: 0px 0px 0px 0px;
}

#Coma {
    width: 25px;
    height: 20px;
    padding: 0px 0px 0px 0px;
}


#Squareroot {
    width: 25px;
    height: 20px;
    padding: 0px 0px 0px 0px;
}

#Square {
    width: 25px;
    height: 20px;
    padding: 0px 0px 0px 0px;
}

#Percent {
    width: 25px;
    height: 20px;
    padding: 0px 0px 0px 0px;    
}


